:root {
  --primary-color: #007aff;
  --secondary-color: #c6e6ff;
  /* --background-color: #e5e5e5; */
  --background-color: rgb(255, 255, 255);
  --text-primary: #14273a;
  --text-secondary: ;
  --text-success: ;
  --text-danger: ;
  --text-warning: ;
  --text-info: ;
  --text-light: ;
  --text-dark: ;
  --text-muted: ;
  --text-white: white;
}

[data-theme="dark"] {
  --primary-color: #2658cb;
  --secondary-color: #acddff;
  --background-color: #0f0f0f;
  --text-primary: #ffffff;
  --text-secondary: #acddff;
  --text-success: ;
  --text-danger: ;
  --text-warning: ;
  --text-info: ;
  --text-light: ;
  --text-dark: ;
  --text-muted: ;
  --text-white: white;
}
