.container {
  margin-bottom: 104px;
}

.intro h3 {
  font-family: 'Poppins Medium';
  text-align: center;
  line-height: 48px;
  margin-bottom: 24px;
}

.intro > p {
  text-align: center;
}

.list {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.item {
  border: 0.25rem solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  height: max-content;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.item.open .content {
  display: block;
  overflow: auto;
}

.btn {
  all: unset;
  cursor: pointer;
  height: 2rem;
  width: 8rem;
  text-align: center;
  border: 2px solid var(--text-light);
  border-radius: 0.25rem;
}
