.list-info-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;

  & > label {
    color: var(--text-primary);
  }

  & > input {
    background-color: var(--bg-color-secondary);
    color: var(--text-primary);
    border: none;
    height: 64px;
    width: 100%;
    padding: 0 16px;

    &::placeholder {
      color: var(--text-secondary-light);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.list-check-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  & > div {
    display: flex;
    align-items: center;
    gap: 16px;

    & > input[type='checkbox'] {
      accent-color: var(--primary-color);
      height: 24px;
      width: 24px;
      cursor: pointer;
    }

    & > label {
      font-size: var(--24px);
      line-height: 42px;
      font-weight: var(--medium);
    }
  }

  & > p {
    margin-left: 32px;
    color: var(--text-secondary);
    font-size: var(--20px);
    line-height: 30px;
  }
}
