.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.heading > h3 {
  margin: 0;
}

.hourglassBtn {
  all: unset;
  background-color: var(--primary-color);
  line-height: 1;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hourglassBtn {
    display: none;
  }
}
