.filters-container {
    --filter: var(--text-primary); 
    --filter-active: var(--text-primary);
    --filter-fw: var(--regular);
    --filter-fw-active: var(--semi-bold);
    --filters-start-point: rgba(0, 122, 255, 0);
    --filters-underline-bg: linear-gradient(270deg, var(--filters-start-point) 0.66%, var(--primary-color) 100%);
    --filter-active-bg: var(--primary-color);
    
    display: flex;
    position: relative;
    margin-top: var(--40px);
    gap: var(--32px);
}

[data-theme="dark"] .filters-container {
    --filter: #a5a5a5; 
    --filter-active: var(--text-white);
    --filter-fw: var(--medium);
    --filter-fw-active: var(--medium);
    --filters-start-point: rgba(38, 88, 203, 0);
}

.filters-container::after,
.filter.active::after {
    position: absolute;
    content: '';
    bottom: calc(var(--8px)*-1 - 2px);
    width: calc(100% + var(--16px));
    height: 2px;
    background: var(--filters-underline-bg);
}

.filter {
    font-size: var(--20px);
    line-height: var(--40px);
    font-weight: var(--filter-fw);
    color: var(--filter);
}

.filter.active {
    position: relative;
    color: var(--filter-active);
    font-weight: var(--filter-fw-active);
}

.filter.active::after {
    height: 3px;
    bottom: calc(var(--8px)*-1);
    left: 0;
    background: var(--filter-active-bg);
}



