.container {
  width: 100%;
  max-width: 1292px;
  margin: 32px auto;

  & > h1 {
    margin-bottom: 16px;
    line-height: 38px;
  }

  & > p {
    margin-bottom: 48px;
  }
}

.hostList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  & > li {
    border-top: 3px solid var(--primary-color);
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 414px;

    & > .background-image {
      background-color: grey;
      height: 399px;
      width: 100%;
    }

    & > h4 {
      border-bottom: 3px solid var(--primary-color);

      & > span {
        color: var(--primary-color);
      }
    }

    & > p {
      margin-top: 16px;
      margin-bottom: 0;
    }
  }
}

