@import url('@Styles/mediaQueries.css');


.layout {
  width: 100%;
  max-width: 1440px;
  padding-block: 66px;
  padding-inline: 24px;

  > p {
    margin-block-end: var(--32px);
  }
}

.host-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--32px);

  li {
    width: 100%;
    max-width: 416px;
    padding-block: var(--8px);

    display: flex;
    flex-direction: column;
    border-top: 3px solid var(--primary-color);

    .background-image {
      background-color: grey;
      height: 400px; /* placeholder */
      width: 100%;
    }

    .border-line {
      width: 50%;
      height: 2px;
      background-color: var(--primary-color);
    }

    p {
      margin-block-start: var(--8px);
    }
  }
}


@media (--laptop), (--desktop), (--wide) {
  .layout {
    padding-inline: 72px;
  }
}

@media (--desktop), (--wide) {
  .layout {
    padding-inline: 64px;
  }

  .host-list li {
    border-block: 3px solid var(--primary-color);
  }
}
