.container {
  width: 100%;
  max-width: 1440px;
  margin: 32px auto;
}

.content > h2 {
  font-weight: var(--medium);
  font-size: var(--64px);
  line-height: var(--leading-14);
}

.content > p {
  font-size: var(--24px);
  line-height: var(--leading-9);
  margin-bottom: 3rem;
}

.host-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.host {
  height: 737px;
  width: 420px;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--primary-color);
  padding: 16px 0 0 0;
}

.host-image {
  height: 399px;
  width: 420px;
  background-color: lightgray;
}

.position {
  font-size: var(--24px);
  font-weight: var(--medium);
  line-height: var(--leading-9);
  display: flex;
  justify-content: space-between;

  & > span {
    color: var(--primary-color);
  }
}

.host-intro {
  font-size: var(--24px);
  line-height: var(--leading-9);
}

@media screen and (max-width: 500px) {
  .content > h2 {
    font-size: var(--56px);
    text-align: center;
  }

  .host {
    width: 358px;
    height: 600px;
  }

  .host-image {
    width: 358px;
    height: 380px;
  }
}
