@import url('@Styles/mediaQueries.css');


.layout {
  width: 100%;
  max-width: 1440px;
  padding-block: 66px;
  padding-inline: 24px;
}

.box-lid {
  height: 57px;

  background-image: url("data:image/svg+xml,%3Csvg width='327' height='58' viewBox='0 0 327 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9606 0.0170898H303.942L327 57.0171H0L22.9606 0.0170898Z' fill='url(%23paint0_linear_897_61907)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_897_61907' x1='163.752' y1='0.0170897' x2='163.752' y2='57.0171' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23163887' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%231E48A7' stop-opacity='0.7'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  clip-path: polygon(7% 0%, 93% 0%, 100% 100%, 0% 100%);
}

.content {
  padding: 40px 24px;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  background-image: url(~@Images/react-quarter-logo.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--primary-color);

  & > h1 {
    color: var(--text-white);
  }

  & > p {
    margin-bottom: var(--20px);
    color: var(--text-white);
  }
}

.form {
  width: 100%;

  .error-message {
    color: var(--text-error);
    font-weight: var(--medium);
    line-height: normal;

    &:empty {
      display: inline-block;
      width: 100%;
    }
  }

  .actions {
    display: flex;
    flex-flow: column nowrap;

    input {
      width: 100%;
      height: 64px;
      padding: 20px 0px 19px 16px;
      margin-bottom: var(--16px);

      color: var(--text-white);
      border: 3px solid var(--white);
      background-color: var(--primary-color);

      &::placeholder {
        color: var(--text-light-blue);
      }
    }
  }
}

.almost-done {
  display: flex;
  flex-flow: column nowrap;

  & > h2 {
    margin: 0 0 16px;
  }
}

.email-sent-to {
  inline-size: 280px;

  display: inline-block;
  font-style: italic;
  font-weight: var(--bold);

  overflow-wrap: break-word;
}

@media (--tablet) {
  .box-lid {
    height: 129px;
    background-image: url("data:image/svg+xml,%3Csvg width='1296' height='124' viewBox='0 0 1296 124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M91 0L1207 2L1296 124H0L91 0Z' fill='url(%23paint0_linear_942_19834)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_942_19834' x1='649' y1='-2.2324e-07' x2='649' y2='124' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23163887' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%231E48A7' stop-opacity='0.7'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    clip-path: polygon(12% 0%, 88% 0%, 100% 96%, 0% 96%);
  }
  .content {
    h1 {
      font-size: var(--48px);
    }
  }
}

@media (--laptop), (--desktop), (--wide) {
  .layout {
    padding-inline: 72px;
  }

  .box-lid {
    height: 124px;
    background-image: url("data:image/svg+xml,%3Csvg width='1296' height='124' viewBox='0 0 1296 124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M91 0L1207 2L1296 124H0L91 0Z' fill='url(%23paint0_linear_942_19834)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_942_19834' x1='649' y1='-2.2324e-07' x2='649' y2='124' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23163887' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%231E48A7' stop-opacity='0.7'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  }

  .form .actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    input {
      margin-bottom: 0;
      border-inline-end: 0;
    }

    .button-wrapper {
      width: 25%;
      padding-inline-end: 4px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-block: 3px solid var(--white);
      border-inline-end: 3px solid var(--white);

      button {
        height: 50px;
        padding-block: 0px;
      }
    }
  }
}
