.container {
  margin-bottom: 132px;
}

.top {
  background: linear-gradient(180deg, rgba(0, 122, 255, 0) -28.54%, rgba(0, 122, 255, 0.44) 43%, rgba(0, 122, 255, 0.7) 108.47%);
  height: 64px;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}

.main {
  padding: 40px 24px;

  background-image: url(~@Images/react-quarter-logo.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--primary-color);
}

.main > div h2,
.main > div p {
  color: var(--text-white);
}
.main > div h2 {
  margin-bottom: 24px;
  font-family: 'Poppins Medium';
  font-size: var(--32px);
  line-height: 38px;
}

.join-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;

  margin-top: 50px;

  & > input {
    padding: 20px 16px;
    color: var(--text-white);
    border: 3px solid var(--text-white);
    background-color: var(--primary-color);
  }
  & > input::placeholder {
    color: var(--text-light-blue);
  }

  & > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 32px;
    gap: 16px;

    color: var(--primary-color);
    font-family: 'Poppins Medium';
    font-size: var(--24px);
    line-height: 36px;

    background-color: var(--text-white);
    cursor: pointer;

    & svg > path {
      stroke: var(--primary-color);
    }
  }
}


@media screen and (min-width: 768px) {
  .input {
    display: none;
  }
  .container:hover .input {
    display: inline-block;
  }
  .input:active {
    display: inline-block;
  }
  .main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .form {
    width: 8rem;
  }
  .container:hover .main {
    display: block;
  }
  .container:hover .form {
    width: 100%;
  }
}
