.container {
  margin: 0 auto 32px auto;
  height: 562px;
  width: 100%;
  max-width: 1292px;
}

.top {
  background-image: linear-gradient(
    180deg,
    rgba(0, 122, 255, 0) -28.54%,
    rgba(0, 122, 255, 0.44) 43%,
    rgba(0, 122, 255, 0.7) 108.47%
  );
  height: 64px;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
  background-color: var(--bg-color);
}

.main {
  height: 498px;
  padding: 40px 24px;
  background-image: url(~@Images/react-quarter-logo.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  & > h1 {
    color: var(--text-white)
  }

  & > p {
    color: var(--text-white);
  }

  @media screen and (max-width: 768px) {
    & > h1 {
      font-size: var(--48px);
    }
  }

  & > form {
    position: absolute;
    left: calc(100% - 162px);
    transition: left 0.25s;

    & > input {
      display: none;
      padding: 0 16px;
      background-color: var(--primary-color);
      color: var(--text-white);

      &::placeholder {
        color: var(--text-white);
      }
    }

    & > button {
      border: none;
      background-color: var(--text-white);
      color: var(--primary-color);
      height: 82px;
      width: 138px;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    @media screen and (max-width: 769px) {
      position: relative;
      left: 0;
      margin: 32px 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;

      & > input {
        display: block;
        height: 82px;
        border: 2px solid white;

        &:active {
          height: 82px;
        }

        &:focus {
          height: 82px;
        }
      }

      & > button {
        width: 100%;
      }
    }
  }

  &:hover > form {
    position: relative;
    left: 0;
    margin: 32px 0;
    padding: 4px;
    border: 3px solid white;
    display: flex;
    gap: 8px;

    & > input {
      display: block;
      border: none;
      flex: 1;
    }
  }
}
