.page-layout {
  width: 100%;
  background-image: var(--body-bg-image);
  background-repeat: no-repeat;
  background-position: center 15%;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .page-layout {
    background-position: center 12%;
  }
}
