.page-layout {
  padding: 0 24px;

  display: flex;
  flex-flow: column nowrap;
  gap: 132px;

  background-image: var(--body-bg-image);
  background-repeat: no-repeat;
  background-position: 45% 5.35%;
  background-size: 345%;
}

/* @media screen and (max-width: 768px) {
  .page-layout {
    background-position: center 12%;
  }
} */
