.text-input-item {
  width: 100%;
  margin-block-end: var(--24px);

  display: flex;
  flex-direction: column;
  row-gap: var(--8px);

  &:last-child {
    margin-block-end: 0;
  }

  label {
    color: var(--text-light-blue);
  }

  input {
    width: 100%;
    padding-block: 20px;
    padding-inline: 16px;

    display: flex;

    color: var(--text-light-blue);
    background-color: var(--bg-color-secondary);
    border: none;

    &::placeholder {
      font-weight: var(--medium);
    }
  }
}
