.mainLayout {
  padding: 112px 1rem 1rem 1rem;
}

.hero {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 112px);
  display: flex;
}

.intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reactLogoWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 850px) {
  .reactLogoWrapper {
    display: none;
  }
}

.reactLogoWrapper img {
  position: absolute;
}

.community {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.community .communityContainer h2 {
  text-align: center;
}

.community .communityContainer p {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
}

.communityList {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.communityList li {
  border: 0.25rem solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}

.communityList li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.join {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.joinTop {
  background: linear-gradient(
    180deg,
    rgba(0, 122, 255, 0) -28.54%,
    rgba(0, 122, 255, 0.44) 43%,
    rgba(0, 122, 255, 0.7) 108.47%
  );
  height: 4rem;
  width: 100%;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}

.joinMain {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--text-white);
}

.joinMain h2 {
  color: var(--text-white);
  margin-top: 4rem;
}

.joinForm {
  margin: 1rem 0;
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.joinForm input {
  border: 2px solid var(--text-white);
  background-color: var(--primary-color);
  padding: 1rem 0.25rem;
  color: var(--text-white);
}

.joinForm input::placeholder {
  color: var(--text-white);
}

.joinForm button {
  border: none;
  cursor: pointer;
  background-color: var(--text-white);
  color: var(--primary-color);
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.joinBottom {
  background: linear-gradient(
    180deg,
    rgba(0, 122, 255, 0) -28.54%,
    rgba(0, 122, 255, 0.44) 43%,
    rgba(0, 122, 255, 0.7) 108.47%
  );
  height: 2rem;
  width: 100%;
  clip-path: polygon(2.5% 0%, 97.5% 0%, 100% 100%, 0% 100%);
}

.reactQuestions {
  background-color: var(--primary-color);
  display: flex;
}

.reactQuestions p {
  flex: 1;
  margin-top: 0;
  color: var(--text-white);
  padding: 1rem;
}

.reactQuestions button {
  background-color: var(--primary-color);
  border: none;
  border-left: 1px solid var(--text-white);
  color: var(--text-white);
  padding: 1rem;
}
