@import url('@Styles/mediaQueries.css');


.header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 16px 24px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.container > nav { width: 100% }

.nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.nav-list > li > a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  font-size: var(--20px);
  font-weight: var(--regular);
  color: var(--text-primary);
  text-decoration: none;
}
.nav-list > li > a:active {
  text-decoration: none;
}

.logo {
  width: var(--32px);
  height: var(--32px);
}

@media (--desktop) {
  .container {
    padding-inline: 72px;
  }

  .logo {
    width: var(--64px);
    height: var(--64px);
  }
}
