.container {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  border: 0.25rem solid var(--primary-color);
  padding: 1rem;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .inputs {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.inputBlock {
  display: flex;
  flex-direction: column;
}

.inputBlock > input {
  border: none;
  background-color: var(--secondary-color);
  padding: 1rem 0.5rem;
}

.inputBlock > input::placeholder {
  color: grey;
}

.question {
  text-align: center;
  margin: 3rem 0;
}

.checkboxes {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}

.checkboxWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 13rem;
}

.checkboxLabel {
  font-size: clamp(0.75rem, 4vw, 1.5rem);
  font-family: "Poppins Semibold";
  line-height: 2.5rem;
  height: calc(100% - 0.5rem);
  width: calc(100% - 0.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  clip-path: polygon(10% 0%, 100% 0, 100% 0, 100% 75%, 90% 100%, 0 100%, 0 100%, 0% 25%);
  transition: background-color 0.3s;
  cursor: pointer;
}

.checkboxLabel > svg {
  width: 100%;
}

.checkboxWrapper > input {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--secondary-color);
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 0
  );
  transition: clip-path 0.3s;
}

.checkboxWrapper > input:hover,
.checkboxWrapper > input:checked {
  background-color: var(--primary-color);
  clip-path: polygon(10% 0%, 100% 0, 100% 0, 100% 75%, 90% 100%, 0 100%, 0 100%, 0% 25%);
}

.checkboxWrapper > input:hover + .checkboxLabel,
.checkboxWrapper > input:checked + .checkboxLabel {
  background-color: var(--bg-color);
}

@media screen and (max-width: 400px) {
  .checkboxWrapper {
    height: 6rem;
  }
  .checkboxLabel {
    height: calc(100% - 0.25rem);
    width: calc(100% - 0.25rem);
    clip-path: polygon(20% 0%, 100% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 100%, 0% 20%);
  }
  .checkboxWrapper > input:hover,
  .checkboxWrapper > input:checked {
    clip-path: polygon(20% 0%, 100% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 100%, 0% 20%);
  }
}

.submitBtn {
  all: unset;
  background-color: var(--primary-color);
  color: var(--text-white);
  cursor: pointer;
  height: 4rem;
  width: 20rem;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 0
  );
  transition: clip-path 0.3s;
}

.submitBtnInnerBox {
  height: calc(100% - 0.25rem);
  width: calc(100% - 0.25rem);
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  background-color: transparent;
  clip-path: polygon(
    5% 0%,
    100% 0,
    100% 0,
    100% 75%,
    95% 100%,
    0 100%,
    0 100%,
    0% 25%
  );
  transition: background-color 0.3s;
}

.submitBtnText {
  display: flex;
  align-items: center;
  font-family: "Poppins Medium";
  font-size: var(--24px);
  line-height: 30px;
  text-decoration: none;
  color: var(--text-white);
  transition: color 0.3s;
}

.arrow {
  margin-left: 8px;
  transform: rotate(-45deg);
  stroke: var(--text-white);
  fill: var(--text-white);
  transition: all 0.3s;
}

.submitBtn:hover {
  clip-path: polygon(
    5% 0%,
    100% 0,
    100% 0,
    100% 75%,
    95% 100%,
    0 100%,
    0 100%,
    0% 25%
  );
}

.submitBtn:hover .submitBtnInnerBox {
  background-color: var(--bg-color);
}

.submitBtn:hover .submitBtnText {
  color: var(--text-primary);
}

.submitBtn:hover .arrow {
  fill: var(--text-primary);
  stroke: var(--text-primary);
}
