@import url('@Styles/mediaQueries.css');


.layout {
  width: 100%;
  max-width: 1440px;
  padding-block: 66px;

  div {
    padding-block: 20px 40px;
    padding-inline: 24px;
    border: 3px solid var(--primary-color);
  }
}

.form {
  width: 100%;

  .text-input-list {
    width: 100%;
    padding-block: 16px;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
  }

  .sponsor-selection-list {
    padding-block: 16px 32px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }

  h3 {
    width: 296px;
    margin-inline: auto;
    text-align: center;
  }
}


@media (--laptop), (--desktop), (--wide) {
  .layout {
    padding-inline: 72px;
  }

  .form {
    .text-input-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    h3 {
      width: 100%;
    }
  }
}

@media (--desktop), (--wide) {
  .layout {
    div {
      padding-inline: 64px;
    }
  }
}
