.container {
  padding: 40px 24px 53px;
  margin: 0 -24px 64px;
  border: 3px solid var(--primary-color);

  & > h2 {
    margin-bottom: 16px;
    font-family: 'Poppins Medium';
    font-size: var(--32px);
    line-height: 38px;
  }

  & > h3 {
    margin-bottom: 35px;
    font-family: 'Poppins Regular';
    font-size: var(--24px);
    line-height: 36px;;
  }
}

.partnership-form {
  & .list-info {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 16px;

    margin-bottom: 35px;
  }

  & .list-info-item {
    display: flex;
    flex-flow: column nowrap;

    & label {
      margin-bottom: 8px;
      color: var(--text-secondary);
    }

    & input {
      padding: 1rem 0.5rem;
      border: none;
      background-color: var(--bg-color-secondary);
    }
    & input::placeholder {
      color: var(--text-secondary-light);
    }
  }

  & .partner-up {
    margin-bottom: 16px;
    font-family: 'Poppins Medium';
    font-size: var(--24px);
    line-height: 36px;
  }

  & .list-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;

    list-style-type: none;

    & .list-option-item {
      position: relative;
      height: 104px;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      & > input,
      & > label {
        position: absolute;
        height: 100%;
        width: 100%;
      }

      & > input {
        appearance: none;
        background-color: var(--bg-color-secondary);

        clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
        transition: clip-path 0.3s;
      }

      & > label {
        width: 98px;
        height: 98px;
        padding: 16px 26px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        font-family: 'Poppins Regular';
        line-height: 24px;

        background-color: transparent;
        clip-path: polygon(19% 0%, 100% 0px, 100% 0px, 100% 79%, 81.00% 100.00%, 0px 100%, 0px 100%, 0% 21%);
        transition: background-color 0.3s;
        cursor: pointer;
      }

      & > input:hover,
      & > input:checked {
        background-color: var(--primary-color);
        clip-path: polygon(19% 0%, 100% 0px, 100% 0px, 100% 79%, 81.00% 100.00%, 0px 100%, 0px 100%, 0% 21%);
      }
      & > input:hover + label,
      & > input:checked + label {
        background-color: var(--bg-color-secondary);
      }
    }
  }

  & button {
    height: 64px;
    width: 321px;

    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
    color: var(--text-white);

    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    transition: clip-path 0.3s;
    cursor: pointer;
  }
  & button:hover {
    clip-path: polygon(5.6% 0%, 100% 0px, 100% 0px, 100% 67%, 94.4% 100%, 0px 100%, 0px 100%, 0% 33%);
  }

  & .text-box {
    width: 317px;
    height: 60px;

    display: flex;
    justify-content: center;
    flex-flow: row nowrap;

    background-color: transparent;
    clip-path: polygon(5.4% 0%, 100% 0px, 100% 0px, 100% 66.7%, 94.6% 100%, 0px 100%, 0px 100%, 0% 33.3%);
    transition: background-color 0.3s;

    & span {
      display: flex;
      align-items: center;

      font-family: "Poppins Medium";
      font-size: var(--20px);
      line-height: 30px;
      text-decoration: none;
      color: var(--text-white);
      transition: color 0.3s;

      & svg {
        margin-left: 17px;

        & > path {
          fill: #FFFFFF;
        }
      }
      & svg path {
        fill: var(--text-white);
        transition: fill 0.3s;
      }
    }
  }
  & .text-box:hover {
    background-color: var(--bg-color);
    transition: background-color 0.3s;

    & > span {
      color: var(--text-primary);
      transition: color 0.3s;
    }

    & > span > svg > path {
      fill: var(--text-primary);
      transition: fill 0.3s;
    }
  }
}



@media screen and (max-width: 768px) {
  .inputs {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .checkboxWrapper {
    height: 6rem;
  }
  .checkboxLabel {
    height: calc(100% - 0.25rem);
    width: calc(100% - 0.25rem);
    clip-path: polygon(20% 0%, 100% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 100%, 0% 20%);
  }
  .checkboxWrapper > input:hover,
  .checkboxWrapper > input:checked {
    clip-path: polygon(20% 0%, 100% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 100%, 0% 20%);
  }
}
