button.container {
  border: none;
}

.container {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
  transition: clip-path 0.3s;
  width: 100%;
}

.text-box {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(7.5% 0%, 100% 0%, 100% 69%, 92.5% 100%, 0% 100%, 0% 31%);
  transition: background-color 0.3s;
}

.text-box > span {
  color: var(--text-white);
  font-family: 'Poppins Medium';
  font-size: var(--24px);
  line-height: 30px;
  display: flex;
  align-items: center;
}

.text-box > span > svg {
  margin-left: 17px;
}

.text-box > span > svg > path {
  fill: var(--text-white);
}

.container:hover {
  clip-path: polygon(7.5% 0%, 100% 0%, 100% 69%, 92.5% 100%, 0% 100%, 0% 31%);
}

.text-box:hover {
  background-color: var(--bg-color);
}

.text-box:hover > span {
  color: var(--text-primary);
}

.text-box:hover > span > svg > path {
  fill: var(--text-primary);
}