.container {
  width: 260px;
  height: 64px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
  transition: clip-path 0.3s;

  background-color: var(--primary-color);
}

.text-box {
  height: calc(100% - 4px);
  width: calc(100% - 4px);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  clip-path: polygon(7.5% 0%, 100% 0%, 100% 69%, 92.5% 100%, 0% 100%, 0% 31%);
  transition: background-color 0.3s;

  background-color: transparent;

  span {
    display: flex;
    column-gap: var(--12px);

    font-size: var(--20px);
    font-weight: var(--medium);
    color: var(--text-white);

    :global .icon-arrow-up-right {
      fill: var(--text-white);
    }
  }
}

.container:hover {
  clip-path: polygon(7.5% 0%, 100% 0%, 100% 69%, 92.5% 100%, 0% 100%, 0% 31%);
}

.text-box:hover {
  background-color: var(--bg-color);
}
