@import url('@Styles/mediaQueries.css');


.layout {
  grid-area: footer;
  justify-self: center;

  width: 100%;
  max-width: 1440px;
  padding-block: 16px 24px;
  padding-inline: 12px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 16px;

  .rights {
    font-size: var(--12px);
    white-space: nowrap;
    order: 3;
  }

  .social-media {
    margin-block-end: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 32px;
    order: 1;

    .icon-twitter {
      width: 26px;
      height: 22px;
    }

    .icon-github {
      width: 28px;
      height: 28px;
    }
  }

  .policy {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 22px;
    order: 2;

    a {
      font-size: var(--12px);
      color: var(--text-primary);
      white-space: nowrap;
    }
  }
}


@media (--tablet), (--laptop), (--desktop), (--wide) {
  .layout {
    padding-inline: 72px;
  }
}

@media (--desktop), (--wide) {
  .layout {
    flex-flow: row nowrap;
    justify-content: space-between;

    .rights {
      order: 1;
    }
    .social-media {
      order: 2;
      margin-block-end: 0;
    }
    .policy {
      order: 3;
      column-gap: 40px;
    }
  }
}
