.footer {
  display: flex;
  flex-flow: column nowrap;
  padding: 16px 12px 24px;

  background-image: var(--footer-bg-image);
  background-repeat: no-repeat;
  background-position: center 68%;

  & .socialMedia {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 24px;
  }

  & .policy {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 16px;

    & a {
      color: var(--text-primary);
      font-size: var(--14px);
    }
  }

  & .rights {
    font-size: var(--14px);
    line-height: 21px;;
    text-align: center;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin: 0 auto;
}
