.container {
  width: 100%;
  max-width: 1440px;
  margin: 5rem auto;
  padding: 24px 16px;
  border: 3px solid var(--primary-color);

  & > h2 {
    font-weight: var(--medium);
    font-size: var(--64px);
    line-height: var(--96px);
  }

  & > p {
    font-size: var(--28px);
    line-height: var(--leading-11);
    margin-bottom: 3rem;
  }
}

.speaker-form {
  & .list-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-bottom: 35px;

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }

  & .topic-presentation {
    margin-bottom: 8px;
    font-size: var(--24px);
  }

  & .hint {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-flow: row nowrap;
    margin-bottom: 40px;

    & p {
      font-size: var(--16px);
    }
  }

  & .list-checks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-bottom: 35px;

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }

  & > button[type='submit'] {
    margin-inline: auto;
  }
}
