@import url('@Styles/mediaQueries.css');


.layout {
  width: 100%;
  max-width: 1440px;
  padding-block: 66px;

  > div {
    padding-block: 20px 40px;
    padding-inline: 24px;
    border: 3px solid var(--primary-color);

    h2 {
      font-size: var(--32px);
    }

    h3 {
      font-size: var(--24px);
      line-height: 36px;
    }
  }
}

.form {
  width: 100%;

  .text-input-list {
    width: 100%;
    padding-block: 16px 32px;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;

    .topic-summary {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      .summary {
        width: 100%;
        margin-block-end: var(--24px);

        display: flex;
        flex-direction: column;
        row-gap: var(--8px);

        label {
          color: var(--text-light-blue);
        }

        textarea {
          width: 100%;
          padding-block: 20px;
          padding-inline: 16px;

          color: var(--text-light-blue);
          background-color: var(--bg-color-secondary);
          border: none;

          &::placeholder {
            font-weight: var(--medium);
          }
        }
      }
    }
  }
}

@media (--tablet), (--laptop), (--desktop), (--wide) {
  .layout {
    padding-inline: 72px;
  }

  .form {
    .text-input-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    h3 {
      width: 100%;
    }

    .topic-summary {
      grid-column: 1 / 3;
    }
  }
}

@media (--desktop), (--wide) {
  .layout {
    > div {
      padding-inline: 64px;
    }
  }
}
