.container {
  padding: 24px 16px;
  width: 100%;
  max-width: 1292px;
  margin: 32px auto;
  border: 3px solid var(--primary-color);

  & > h1 {
    margin-bottom: 16px;
  }

  & > h4 {
    margin-bottom: 35px;
    font-weight: 400;
  }
}

.speaker-form {
  & .list-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-bottom: 35px;

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }

  & .topic-presentation {
    margin-bottom: 8px;
    font-size: var(--24px);
  }

  & .hint {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-flow: row nowrap;
    margin-bottom: 40px;

    & p {
      font-size: var(--16px);
    }
  }

  & .list-checks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-bottom: 35px;

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }

  & > button[type='submit'] {
    margin-inline: auto;
  }
}
