.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.outer {
  position: absolute;
}

.inner {
  position: absolute;
}

@media screen and (max-width: 850px) {
  .wrapper {
    display: none;
  }
}
