.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer {
  position: absolute;
}

.inner {
  position: absolute;
}

@media screen and (max-width: 950px) {
  .wrapper {
    display: none;
  }
}
