.container {
  width: 100%;
  max-width: 1200px;
  margin: 4rem auto;
}

.top {
  background: linear-gradient(
    180deg,
    rgba(0, 122, 255, 0) -28.54%,
    rgba(0, 122, 255, 0.44) 43%,
    rgba(0, 122, 255, 0.7) 108.47%
  );
  height: 4rem;
  width: 100%;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}

.main {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--text-white);
  position: relative;
  overflow: hidden;
}

.reactCornerSvg {
  position: absolute;
  top: -5%;
  left: 70%;
  z-index: 1;
  height: 50%;
  width: 50%;
}

.main > div h2 {
  color: var(--text-white);
  margin-top: 4rem;
}

.form {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  width: 100%;
  height: 4rem;
  border: 2px solid var(--text-white);
  background-color: var(--primary-color);
  padding: 1rem 0.25rem;
  color: var(--text-white);
  z-index: 3;
}

.input::placeholder {
  color: var(--text-white);
}

.subscribeBtn {
  all: unset;
  cursor: pointer;
  width: 100%;
  height: 4rem;
  background-color: var(--text-white);
  color: var(--primary-color);
  font-family: "Poppins Medium";
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .input {
    display: none;
  }
  .container:hover .input {
    display: inline-block;
  }
  .input:active {
    display: inline-block;
  }
  .main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .form {
    width: 8rem;
  }
  .container:hover .main {
    display: block;
  }
  .container:hover .form {
    width: 100%;
  }
}

.arrow {
  stroke: var(--primary-color);
  margin-left: 0.5rem;
}

.bottom {
  background: linear-gradient(
    180deg,
    rgba(0, 122, 255, 0) -28.54%,
    rgba(0, 122, 255, 0.44) 43%,
    rgba(0, 122, 255, 0.7) 108.47%
  );
  height: 2rem;
  width: 100%;
  clip-path: polygon(2.5% 0%, 97.5% 0%, 100% 100%, 0% 100%);
}

.reactQuestions {
  background-color: var(--primary-color);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.bulb {
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.text > p {
  color: var(--text-white);
}

.slackLink {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  padding-left: 1rem;
}

.slackLink > a {
  color: var(--text-white);
}

.slackLink::before {
  background-color: var(--text-white);
  content: "";
  position: absolute;
  left: 0;
  height: 500%;
  width: 1px;
}


