@import url('@Styles/mediaQueries.css');


.icon-arrow-up-right {
  fill: var(--icon-primary);
}

.icon-twitter {
  width: 26px;
  height: 22px;
}

.icon-github {
  width: 28px;
  height: 28px;
}

.icon-venue,
.icon-food,
.icon-drinks,
.icon-speakers,
.icon-workshops,
.icon-other {
  width: 54px;
  height: 54px;
}

@media (--laptop) {
  .icon-venue,
  .icon-food,
  .icon-drinks,
  .icon-speakers,
  .icon-workshops,
  .icon-other {
    width: 64px;
    height: 64px;
  }

}

@media (--desktop), (--wide) {
  .icon-venue,
  .icon-food,
  .icon-drinks,
  .icon-speakers,
  .icon-workshops,
  .icon-other {
    width: 88px;
    height: 88px;
  }
}
