:root {
  --icon-width: 32px;
  --icon-height: 32px;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  svg[class^="icon-"] {
    width: var(--icon-width);
    height: var(--icon-height);
  }

  input, button, textarea, select {
    font: inherit;
  }

  a,
  a:active,
  a:visited {
    text-decoration: none;
    color: white;  /* TODO: use variable */
  }

  button {
    border-style: none;
  }

  fieldset {
    padding: 0;
    border: none;
    border-width: 0;
  }
  legend {
    padding: 0;
  }

  ul, ol, dd {
    list-style: none;
  }

  /* TODO: modify this */
  #root, #__next {
    isolation: isolate;
  }
}
