@layer base {
  *,
  *::after,
  *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
    box-sizing: border-box;

    font-family: 'Poppins';
    font-weight: var(--regular);
    font-size: var(--16px);
    line-height: var(--24px);

    color: var(--text-primary);
    background-color: var(--bg-color);
  }

  a {
    text-decoration: none;
  }

  fieldset {
    padding: 0;
    border: none;
    border-width: 0;
  }

  ul, ol, dd {
    list-style: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: var(--medium);
    color: var(--text-primary);
  }
  h1 {
    font-size: var(--32px);
    line-height: 42px;
  }
  h2 {
    /* font-size: var(--28px); */
    /* line-height: 38px; */
  }
  h3 {
    /* font-size: var(--26px); */
    /* line-height: 36px; */
  }
  h4 {
    font-size: var(--24px);
    line-height: 36px;
  }
  h5 {
    font-size: var(--20px);
    line-height: 30px;
  }

  small {
    font-size: var(--8px);
  }

  button {
    border-style: none;
    background-color: transparent;
  }
}

@custom-media --mobile-viewport (width > 480px);
@media (--mobile-viewport) {
  body {
    /* background-color: red; */
  }
}
