/* #CSS.1 */

:root {
  --2px: 0.125rem;
  --4px: 0.25rem;
  --8px: 0.5rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --40px: 2.5rem;
  --48px: 3rem;
  --56px: 3.5rem;
  --64px: 4rem;

  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}

@layer fonts {
  @font-face {
    font-family: 'Poppins Thin';
    font-style: normal;
    font-weight: var(--thin);
    src: url('../fonts/poppins-thin-webfont.woff2') format('woff2'),
    url('../fonts/poppins-thin-webfont.woff') format('woff');
  }
  @font-face {
    font-family: 'Poppins ExtraLight';
    font-style: normal;
    font-weight: var(--extra-light);
    src: url('../fonts/poppins-extralight-webfont.woff2') format('woff2'),
    url('../fonts/poppins-extralight-webfont.woff') format('woff');
  }
  @font-face {
    font-family: 'Poppins Light';
    font-style: normal;
    font-weight: var(--light);
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
    url('../fonts/poppins-light-webfont.woff') format('woff');
  }
  @font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: var(--regular);
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff');
  }
  @font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: var(--medium);
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
    url('../fonts/poppins-medium-webfont.woff') format('woff');
  }
  @font-face {
    font-family: 'Poppins SemiBold';
    font-style: normal;
    font-weight: var(--semi-bold);
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
    url('../fonts/poppins-semibold-webfont.woff') format('woff');
  }
  @font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: var(--bold);
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
    url('../fonts/poppins-bold-webfont.woff') format('woff');
  }
  @font-face {
    font-family: 'Poppins ExtraBold';
    font-style: normal;
    font-weight: var(--extra-bold);
    src: url('../fonts/poppins-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/poppins-extrabold-webfont.woff') format('woff');
  }
  @font-face {
    font-family: 'Poppins Black';
    font-style: normal;
    font-weight: var(--black);
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
    url('../fonts/poppins-semibold-webfont.woff') format('woff');
  }
}
