@import url('@Styles/mediaQueries.css');


@layer layouts {
  body {
    position: relative;

    display: grid;
    grid-template-columns: minmax(375px, 1fr);
    grid-template-rows: var(--64px) auto;
    grid-template-areas:
      "header"
      "main"
    ;
  }

  .top-background-image {
    position: absolute;
    height: 100%;
    width: 100%;

    background-image: var(--header-bg-image);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 40% 0%;

    z-index: -1;
  }

  .main-layout {
    grid-area: main;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  @media (--desktop) {
    body {
      grid-template-rows: 100px auto;
      justify-content: center;
    }

    .top-background-image {
      background-position: left top -10%;
    }
  }
}
