.outer-text-box {
  height: 64px;
  max-width: 260px;
  margin-top: 46px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);

  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
  transition: clip-path 0.3s;
}
.inner-text-box {
  width: 252px;
  height: 56px;

  display: flex;
  justify-content: center;
  background-color: transparent;

  clip-path: polygon(18px 0%, 100% 0, 100% 0, 100% 38px, 234px 100%, 0 100%, 0 100%, 0% 18px);
  transition: background-color 0.3s;
}
.text {
  display: flex;
  align-items: center;
  font-family: 'Poppins Medium';
  font-size: var(--24px);
  line-height: 30px;
  text-decoration: none;
  color: var(--text-primary);
  transition: color 0.3s;
}

.outer-text-box:hover {
  clip-path: polygon(20px 0%, 100% 0, 100% 0, 100% 44px, 240px 100%, 0 100%, 0 100%, 0% 20px);
}
.inner-text-box:hover {
  background-color: var(--bg-color);
}


[data-theme='light'] .text {
  color: var(--bg-color);
}
[data-theme='light'] .text svg path {
  stroke: var(--bg-color) !important;
  transition: stroke 0.3s;
}
[data-theme='light'] .inner-text-box:hover .text {
  color: var(--text-primary);
}
[data-theme='light'] .inner-text-box:hover svg path {
  stroke: var(--text-primary) !important;
}
